<div class="container">
    <footer class="mt-auto">
        <p style="font-size: 12px" class="text-muted">
            Express Node.js web application stacked non-SQL MongoDB (MEAN), built by Pascal - Email:
            irims.asia@gmail.com<br>All rights reserved.
        </p>
    </footer>
</div>
</body>

</html>